<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="index.js"></script>

</head>

<body>
  <div ng-app="index" ng-controller="PersonController as person">
    <div>
      First Name:
      <input ng-model="person.firstname">
    </div>
    <br>
    <div>
      Last Name:
      <input ng-model="person.lastname">
    </div>
    <br>
    <div>
      DOB:
      <input type="date" ng-model="person.dob">
    </div>
    <br>
    <div>
      Gender:
      <input type="radio" value="Male" ng-model="person.gender">Male
      <input type="radio" value="Female" ng-model="person.gender">Female
      <input type="radio" value="Other" ng-model="person.gender">Other
    </div>
    <br>
    <div>
      <p ng-if="person.firstname">First Name: {{person.firstname}}</p>
      <p ng-if="person.lastname">Last Name: {{person.lastname}}</p>
      <p ng-if="person.dob">DOB: {{person.dob|date}}</p>
      <p ng-if="person.gender">Gender: {{person.gender}}</p>
      <p ng-if="person.firstname && person.lastname">Full Name: {{person.getFullName()}}</p>
      <p ng-if="person.dob">Age: {{ person.getAge()}}</p>
      <p ng-if="person.dob">Full Age: {{ person.getFullAge()}}</p>
    </div>
  </div>
</body>

</html>

<!-- 
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->