<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="service.js"></script>
  <script src="index.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

</head>

<body>
  <div class="container" ng-app="index" ng-controller="PersonController as person">
    <div class="row">
      <section class="col-sm" id="crud-add">
        <h3 style="padding-top:30px;">Add Eit</h3>
        <form>
          <div class="form-group">
            <label>
              First Name:
              <input required ng-model="person.firstname" class="form-control">
            </label>
          </div>
          <div class="form-group">
            <label>
              Last Name:
              <input required ng-model="person.lastname" class="form-control">
            </label>
          </div>
          <div class="form-group">
            <label>
              DOB:
              <input required type="date" ng-model="person.dob" class="form-control">
            </label>
          </div>
          <div class="form-group">
            <p>Gender: </p>
            <label>
              <input class="form-control" type="radio" value="Male" ng-model="person.gender">Male
            </label>
            <label>
              <input class="form-control" type="radio" value="Female" ng-model="person.gender">Female
            </label>
            <label>
              <input class="form-control" type="radio" value="Other" ng-model="person.gender">Other
            </label>
          </div>
          <button class="btn btn-success" ng-click="person.addEit(person.firstname,person.lastname,person.dob,person.gender)">Add EIT</button>
        </form>
      </section>
      <section class="col-sm" id="crud-read">
        <h3 style="padding-top:30px;">EIT Details</h3>
        <div>
          <p ng-if="person.firstname">First Name: {{person.firstname}}</p>
          <p ng-if="person.lastname">Last Name: {{person.lastname}}</p>
          <p ng-if="person.dob">DOB: {{person.dob|date}}</p>
          <p ng-if="person.gender">Gender: {{person.gender}}</p>
          <p ng-if="person.firstname && person.lastname">Full Name: {{person.getFullName()}}</p>
          <p ng-if="person.dob">Age: {{ person.getAge()}}</p>
          <p ng-if="person.dob">Full Age: {{ person.getFullAge()}}</p>
        </div>
      </section>
      <section class="col-sm">
        <h3 style="padding-top:30px;">EIT List</h3>
        <ul>
          <li ng-repeat="item in person.getEitList() track by item.id">
            <p>{{item.id+" "+item.firstname+" "+item.lastname}}
              <button class="btn btn-danger" ng-click="person.removeEit(item)">Remove</button>
            </p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</body>

</html>

<!-- 
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->