<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EIT | Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="service.js"></script>
  <script src="index.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
    crossorigin="anonymous">


</head>

<body>
  <div class="container-fluid" ng-app="index">
    <div class="row">
      <section class="col-sm" id="crud-add" ng-controller="AddController as c_add">
        <h3 style="padding-top:30px;">Add Eit
          <button class="btn btn-success" ng-click="c_add.loadEits()">Load Eits</button>
        </h3>
        <form>
          <div class="form-group">
            <label>First Name:</label>
            <input required ng-model="c_add.firstname" class="form-control">
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input required ng-model="c_add.lastname" class="form-control">
          </div>
          <div class="form-group">
            <label>DOB:</label>
            <input required type="date" ng-model="c_add.dob" class="form-control">
          </div>
          <div class="form-group">
            <label>Gender : </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="Male" ng-model="c_add.gender">
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="Female" ng-model="c_add.gender">
              <label class="form-check-label">Female</label>
            </div>
          </div>
          <button class="btn btn-success" ng-click="c_add.addEit(c_add.firstname,c_add.lastname,c_add.dob,c_add.gender)">Add EIT</button>
        </form>
      </section>
      <section class="col-sm" id="crud-view" ng-controller="ViewController as c_view">
        <h3 style="padding-top:30px;">EIT Details</h3>
        <div ng-if="c_view.getActiveEit()">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{c_view.getActiveEit().id+" . "+c_view.getActiveEit().firstname}}
                <i class="float-right fa fa-times" style="color: red;" ng-click="c_view.clearActiveView()"></i>
              </h5>
              <p class="card-text"> Name: {{c_view.getActiveEit().firstname +" "+ c_view.getActiveEit().lastname}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">DOB: {{c_view.getActiveEit().dob|date}}</li>
              <li class="list-group-item">Gender: {{c_view.getActiveEit().gender}}</li>
              <li class="list-group-item">Age: {{ c_view.getAge(c_view.getActiveEit())}}</li>
              <li class="list-group-item">Full Age: {{ c_view.getFullAge(c_view.getActiveEit())}}</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="col-sm" ng-controller="ListController as c_list">
        <h3 style="padding-top:30px;">EIT List</h3>
        <p class="alert alert-warning" ng-if="c_list.getEitList().length == 0">Sorry No Eits Available</p>
        <table ng-if="c_list.getEitList().length > 0" class="table table-stripped">
          <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in c_list.getEitList() track by item.id">
              <td>{{item.id}}</td>
              <td>{{item.firstname}}</td>
              <td>{{item.lastname}}</td>
              <td>
                <span ng-click="c_list.removeEit(item.id)" style="padding: 0px 5px;">
                  <i class="fa fa-trash"></i>
                </span>
                <span ng-click="c_list.viewEit(item.id)" style="padding: 0px 5px;">
                  <i class="fa fa-eye"></i>
                </span>
                <span ng-click="c_list.editEit(item.id)" style="padding: 0px 5px;">
                  <i class="fa fa-edit"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</body>

</html>

<!-- 
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->